<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" xmlns:th="http://thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" shrink-to-fit="no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"></script>
    <!-- sbb CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <title>Hello, sbb!</title>
</head>

<body style="min-height:100vh;" class="d-flex flex-column">
    <!-- 네비게이션바 -->
    <nav th:replace="~{navbar :: navbarFragment}"></nav>

    <main class="flex-grow-1">
        <th:block layout:fragment="content"></th:block>
    </main>

    <footer class="bg-dark text-light">
        <div class="container py-3 d-flex justify-content-center">
            copyright all rights reserved
        </div>
    </footer>

    <!-- JS -->
    <th:block layout:fragment="script"></th:block>
</body>

</html>